.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App {
  flex-direction: row;
  display: flex;
}

.App > div {
  flex-grow: 4;
  flex-basis: 0;
  border-width: 2px;
  border-color: red;
  border-style: dashed;
  padding-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  flex-direction: column;
  justify-content: space-between;
}

.App > div:first-child {
  flex-grow: 4;
}

.App > div > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Upper {
  margin: 0;
}

.Upper > ul {
  list-style: none;
}

.Upper > ul > li:hover {
  background-color: #F5F5F5;
}

.Upper > ul > li.active:hover {
  background-color: #007bff;
}

.App > div > div > div:last-child {
  margin-top: auto;
  margin-bottom: 30px;
}

.AddPatient {
  margin-top: auto;
  display: flex;
  flex-direction: row;
}

.AddCardiogram {
  display: flex;
  flex-direction: row;
}

.Tip {
  font-size: 14px;
  vertical-align: middle;
}

.InstallPrompt {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
}

.App-link {
  color: #09d3ac;
}
